.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__delete-button {
  background-image: url(../images/delete_button.svg);
  width: 32px;
  height: 32px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  position: relative;
  top: 40px;
  right: -371px;
}

.card__delete-button:hover {
  background-image: url(../images/delete_hover_button.svg);
}

.card__title {
  margin: 12px 0 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 353px;
}

.card__like-button {
  padding: 0;
  border: none;
  width: 23px;
  height: 20px;
  opacity: 40%;
  background-color: #fcf5e5;
  background-image: url(../images/heart_icon.svg);
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 1;
}

.card__like-button_liked {
  background-image: url(../images/liked_heart.svg);
  opacity: 1;
}

.card__like-button_liked:hover {
  background-image: url(../images/liked_hover_heart.svg);
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
    margin-bottom: 12px;
  }

  .card__title {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    max-width: 260px;
  }
}
