.footer {
  height: 136px;
  display: flex;
  justify-content: center;
}

.footer__paragraph {
  width: 104px;
  height: 16px;
  margin: 60px auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #212121;
  opacity: 70%;
}
