.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  padding: 0 20px;
}

.modal_opened {
  visibility: visible;
}

.modal__container {
  background-color: #fff;
  padding: 32px 50px;
  max-width: 730px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  border-radius: 8px;
}

.modal__content_type_preview {
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 8px;
  max-width: 60vw;
}

.modal__image {
  width: 100%;
  border-radius: 8px;
  max-height: 80vh;
  object-fit: contain;
}

.modal__close-btn {
  position: absolute;
  padding: 0;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #fff;
  background-image: url(../images/close_button.svg);
}

.modal__close_type_preview {
  background-image: url(../images/white_close_button.svg);
  width: 40px;
  height: 40px;
  top: 0;
  right: -52.5px;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0);
}

.modal__caption {
  margin: 0;
  width: 135px;
  height: 32px;
  background-color: #212121;
  color: #fff;
  border-radius: 8px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}

.modal__close-btn:hover {
  position: absolute;
  border: none;
  cursor: pointer;
  background-image: url(../images/close_button_hover.svg);
}

.modal__title {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
}

.modal__input {
  padding: 16px 12px;
  border-width: 1px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  border-color: rgba(33, 33, 33, 0.4);
}

.modal__input:hover {
  cursor: pointer;
  border-color: #212121;
}

.modal__submit-btn {
  width: 156px;
  border-style: none;
  background-color: #000;
  border-radius: 8px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  padding: 18px 0;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
  }

  .modal__container {
    padding: 12px;
  }

  .modal__title {
    font-size: 20px;
    line-height: 1;
    margin-bottom: 24px;
    margin: 10px 0 34px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__input {
    font-size: 16px;
    line-height: 1;
    color: #212121;
    opacity: 30%;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__submit-btn {
    width: 100%;
  }
}
